body {
  background-color: black;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #0a0a23;
  color: white;
  overflow: hidden;
  h1 {
    text-align: center;
  }
}

img {
  max-width: 50%;
}

.confidencial {
  color: #0c0c0c;
}
.yellow {
  color: yellow;
}

table,
th,
td {
  border: 1px solid white;
  text-align: center;
}

.enfase {
  color: yellow;
}

.red {
  color: red;
}

.center {
  text-align:center;
}
.font {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
}

.final-links {
  display: flex;
  justify-content: space-between;
  width: 60%; /* Define a largura total dos links */
  margin: auto; /* Mantém o centro da tela */
}


/* Tela Final - Fundo escuro e minimalista */
.final-screen {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Container do conteúdo */
.final-container {
  max-width: 600px;
}

/* Título "O Fim?" */
.final-container h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* Texto principal */
.final-container p {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* Efeito fade-in no texto final */
.fade-text {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards 3s;
}



/* Animação de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
